Repository plaidml/iree, changes with the owners that .github/CODEOWNERS names for each.
All owners: @GMNGeoffrey, @ScottTodd, @stellaraccident, @ghost, @benvanik, @rsuderman, @ThomasRaoux, @antiagainst, @pzread, @MaheshRavishankar, @hanhanW, @dcaballe

Add tpp-mlir as a submodule
  .gitmodules
  CMakeLists.txt
Owners: @GMNGeoffrey, @ScottTodd, @stellaraccident

Add samples/tpp_import
  samples/tpp_import/CMakeLists.txt
  samples/tpp_import/README.md
  samples/tpp_import/tpp_import.c
Owners: @ScottTodd

Adding BUILD change to enable building TPP along with IREE
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Tools/CMakeLists.txt
Owners: @dcaballe, @hanhanW, @MaheshRavishankar, @benvanik

Working integration of LinalgToTpp and TppToXsmm passes as DispatchLoweringPipeline
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVM/LLVMCPUTarget.cpp
Owners: @MaheshRavishankar, @dcaballe, @hanhanW, @benvanik

Adding a separate function to set TppLoweringConfig for Linalg ContractionOp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Owners: @dcaballe, @hanhanW, @MaheshRavishankar

Temp commit to save changes for merge
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Owners: @dcaballe, @hanhanW, @MaheshRavishankar

Pass insertions and fixes that lowers linalg.matmul through TPP passes correctly for llvm-cpu
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  runtime/src/iree/hal/local/CMakeLists.txt
  samples/tpp_import/CMakeLists.txt
Owners: @dcaballe, @hanhanW, @MaheshRavishankar, @benvanik, @ScottTodd

Add tpp-mlir as a submodule
  .gitmodules
  CMakeLists.txt
Owners: @GMNGeoffrey, @ScottTodd, @stellaraccident

Adding BUILD change to enable building TPP along with IREE
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Tools/CMakeLists.txt
Owners: @dcaballe, @hanhanW, @MaheshRavishankar, @benvanik

Add samples/tpp_import
  samples/tpp_import/CMakeLists.txt
  samples/tpp_import/README.md
  samples/tpp_import/tpp_import.c
Owners: @ScottTodd

Fixing CMake error
  CMakeLists.txt
Owners: none

Fixing incorrect dependencies leading to linking error
  runtime/src/iree/hal/local/CMakeLists.txt
  samples/tpp_import/CMakeLists.txt
Owners: @benvanik, @ScottTodd

Working integration of LinalgToTpp and TppToXsmm passes as DispatchLoweringPipeline
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/LLVMCPUTarget.cpp
Owners: @MaheshRavishankar, @dcaballe, @hanhanW, @benvanik

Pass insertions and fixes that lowers linalg.matmul through TPP passes correctly for llvm-cpu
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Owners: @dcaballe, @hanhanW, @MaheshRavishankar

Adding a separate function to set TppLoweringConfig for Linalg ContractionOp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Owners: @dcaballe, @hanhanW, @MaheshRavishankar

Temp commit to save changes for merge
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Owners: @dcaballe, @hanhanW, @MaheshRavishankar

Removing datatype from API call as we have datatype as a parameter
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  samples/tpp_import/tpp_import.c
Owners: @dcaballe, @hanhanW, @MaheshRavishankar, @ScottTodd

Temporary workaround to handle multiple symbol error when linking
  compiler/src/iree/compiler/Codegen/Utils/LinkingUtils.cpp
Owners: @MaheshRavishankar

Adding end-to-end tests for IREE-TPP integration
  samples/tpp_import/tpp_import.c
  tests/iree_tpp_tests/CMakeLists.txt
  tests/iree_tpp_tests/brgemm.mlir
  tests/iree_tpp_tests/iree_mobilenet.mlir
  tests/iree_tpp_tests/matmul.mlir
  tests/iree_tpp_tests/mlp.mlir
Owners: @ScottTodd

Add samples/tpp_import
  samples/tpp_import/CMakeLists.txt
  samples/tpp_import/README.md
  samples/tpp_import/tpp_import.c
Owners: @ScottTodd

Add tpp-mlir as a submodule
  .gitmodules
  CMakeLists.txt
Owners: @GMNGeoffrey, @ScottTodd, @stellaraccident

Adding BUILD change to enable building TPP along with IREE
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Tools/CMakeLists.txt
Owners: @dcaballe, @hanhanW, @MaheshRavishankar, @benvanik

Temp commit to save changes for merge
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Owners: @dcaballe, @hanhanW, @MaheshRavishankar

Pass insertions and fixes that lowers linalg.matmul through TPP passes correctly for llvm-cpu
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Owners: @dcaballe, @hanhanW, @MaheshRavishankar

Working integration of LinalgToTpp and TppToXsmm passes as DispatchLoweringPipeline
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/Passes.h
  compiler/src/iree/compiler/Dialect/HAL/Target/LLVMCPU/LLVMCPUTarget.cpp
Owners: @MaheshRavishankar, @dcaballe, @hanhanW, @benvanik

Add tpp-mlir as a submodule
  CMakeLists.txt
Owners: none

Adding a separate function to set TppLoweringConfig for Linalg ContractionOp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Owners: @dcaballe, @hanhanW, @MaheshRavishankar

Fixing incorrect dependencies leading to linking error
  runtime/src/iree/hal/local/CMakeLists.txt
  samples/tpp_import/CMakeLists.txt
Owners: @benvanik, @ScottTodd

Fixing CMake error
  CMakeLists.txt
Owners: none

Temp commit to save changes for merge
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Owners: @dcaballe, @hanhanW, @MaheshRavishankar

Adding a separate function to set TppLoweringConfig for Linalg ContractionOp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Owners: @dcaballe, @hanhanW, @MaheshRavishankar

Working integration of LinalgToTpp and TppToXsmm passes as DispatchLoweringPipeline
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Owners: @MaheshRavishankar, @dcaballe, @hanhanW

Removing datatype from API call as we have datatype as a parameter
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  samples/tpp_import/tpp_import.c
Owners: @dcaballe, @hanhanW, @MaheshRavishankar, @ScottTodd

Pass insertions and fixes that lowers linalg.matmul through TPP passes correctly for llvm-cpu
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
Owners: @dcaballe, @hanhanW, @MaheshRavishankar

Adding end-to-end tests for IREE-TPP integration
  samples/tpp_import/tpp_import.c
  tests/iree_tpp_tests/CMakeLists.txt
  tests/iree_tpp_tests/brgemm.mlir
  tests/iree_tpp_tests/iree_mobilenet.mlir
  tests/iree_tpp_tests/matmul.mlir
  tests/iree_tpp_tests/mlp.mlir
Owners: @ScottTodd

Temporary workaround to handle multiple symbol error when linking
  compiler/src/iree/compiler/Codegen/Utils/LinkingUtils.cpp
Owners: @MaheshRavishankar

Adding BUILD change to enable building TPP along with IREE
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
Owners: @dcaballe, @hanhanW, @MaheshRavishankar

Working integration of LinalgToTpp and TppToXsmm passes as DispatchLoweringPipeline
  compiler/src/iree/compiler/Codegen/Dialect/LoweringConfig.td
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/LLVMCPULowerExecutableTarget.cpp
  compiler/src/iree/compiler/Codegen/LLVMCPU/Passes.cpp
  compiler/src/iree/compiler/Codegen/Passes.h
Owners: @MaheshRavishankar, @dcaballe, @hanhanW

Adding a separate function to set TppLoweringConfig for Linalg ContractionOp
  compiler/src/iree/compiler/Codegen/LLVMCPU/KernelDispatch.cpp
Owners: @dcaballe, @hanhanW, @MaheshRavishankar

Temp commit to save changes for merge
  compiler/src/iree/compiler/Codegen/LLVMCPU/CMakeLists.txt
Owners: @dcaballe, @hanhanW, @MaheshRavishankar

.github/CODEOWNERS:

# Codeowners for IREE Github Repository.
# Refer to https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# for syntax of this file (tl;dr: syntax is like .gitignore. Last matching rule
# takes precedence).
# Because of the precedence, rules for directories are listed topologically.
# @ghost is used to make a pattern have no owners. It is a sentinel GitHub user
# that takes the place of deleted users.

# No global owners because we don't really want e.g. changing the root
# CMakeLists.txt file to always ping a bunch of people.

# Code owners for individual components/directories

# Third-Party Code
/.gitmodules @GMNGeoffrey @ScottTodd @stellaraccident
/third_party/ @GMNGeoffrey @ScottTodd @stellaraccident
# Except for routinely-updated submodules
/third_party/llvm-project @ghost
/third_party/llvm-project.branch-pin @ghost
/third_party/tensorflow @ghost
/third_party/mlir-hlo @ghost

# Bindings
/runtime/bindings/python/ @stellaraccident
/runtime/bindings/tflite/ @benvanik

# Integrations
/integrations/ @benvanik @stellaraccident
/integrations/tensorflow/ @stellaraccident
/integrations/tensorflow/build_tools/ @GMNGeoffrey @stellaraccident
/integrations/tensorflow/test/**/iree_tfl_tests/ @rsuderman

# Experimental
# It's experimental, but we still don't want any old directory added here.
/experimental/ @benvanik @GMNGeoffrey @stellaraccident
/experimental/remoting/ @stellaraccident
/experimental/rocm/ @ThomasRaoux
/experimental/web/ @ScottTodd

# Infra Top-Level Directories
/benchmarks/ @GMNGeoffrey @antiagainst @pzread
/build_tools/ @GMNGeoffrey @ScottTodd @pzread
/build_tools/benchmarks/ @GMNGeoffrey @antiagainst @pzread
/build_tools/python_deploy/ @stellaraccident
/build_tools/scripts/ @GMNGeoffrey @ScottTodd
/build_tools/third_party/ @GMNGeoffrey @ScottTodd @stellaraccident
/.github/ @GMNGeoffrey @ScottTodd

# llvm-external-projects
/llvm-external-projects/ @stellaraccident
/llvm-external-projects/iree-dialects/ @MaheshRavishankar
/llvm-external-projects/iree-dialects/**/Dialect/LinalgExt/ @hanhanW @MaheshRavishankar
/llvm-external-projects/iree-dialects/test/iree_linalgext @hanhanW @MaheshRavishankar

# Other Top-Level Directories
/docs/ @ScottTodd
/samples/ @ScottTodd
/tools/ @benvanik @GMNGeoffrey

# Compiler
/compiler/src/iree/compiler/ @benvanik
/compiler/src/iree/compiler/Codegen/ @MaheshRavishankar
/compiler/src/iree/compiler/Codegen/LLVMCPU/ @dcaballe @hanhanW @MaheshRavishankar
/compiler/src/iree/compiler/Codegen/LLVMGPU/ @MaheshRavishankar @ThomasRaoux
/compiler/src/iree/compiler/Codegen/Sandbox/ @dcaballe @hanhanW @MaheshRavishankar
/compiler/src/iree/compiler/Codegen/SPIRV/ @antiagainst @MaheshRavishankar
/compiler/src/iree/compiler/ConstEval/ @stellaraccident
/compiler/src/iree/compiler/Dialect/Flow/ @hanhanW @MaheshRavishankar
/compiler/src/iree/compiler/Dialect/Vulkan/ @antiagainst
/compiler/src/iree/compiler/InputConversion/ @MaheshRavishankar @stellaraccident
/compiler/src/iree/compiler/InputConversion/MHLO @hanhanW @MaheshRavishankar @rsuderman
/compiler/src/iree/compiler/InputConversion/TOSA @MaheshRavishankar @rsuderman

# Runtime
/runtime/src/iree/ @benvanik
/runtime/src/iree/hal/cts/ @ScottTodd
/runtime/src/iree/hal/drivers/cuda/ @ThomasRaoux
/runtime/src/iree/hal/drivers/vulkan/ @antiagainst @ScottTodd
